#cssdiscription {
  display: none;
}
#rubydiscription {
  display: none;
}
#csharpdiscription {
  display: none;
}
body {
  background-color: lightblue;
}
.container {
  padding-left: 10px;
}
.jumbotron {
  text-align: center;
}
